In [53]:
import numpy as np
import pandas as pd
from sklearn import neighbors, metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [54]:
data = pd.read_csv('./car.data')
data

     buying  maint  doors persons lug_boot safety classif
0     vhigh  vhigh      2       2    small    low   unacc
1     vhigh  vhigh      2       2    small    med   unacc
2     vhigh  vhigh      2       2    small   high   unacc
3     vhigh  vhigh      2       2      med    low   unacc
4     vhigh  vhigh      2       2      med    med   unacc
...     ...    ...    ...     ...      ...    ...     ...
1723    low    low  5more    more      med    med    good
1724    low    low  5more    more      med   high   vgood
1725    low    low  5more    more      big    low   unacc
1726    low    low  5more    more      big    med    good
1727    low    low  5more    more      big   high   vgood

[1728 rows x 7 columns]

# Separer les features des labels. 
Attention j'avais fait l'erreur d'un espace après la virgule d'un label.

In [59]:
X = data[["buying","maint","safety"]].values
y = data[["classif"]]

# Convertir les données.

Le .values transforme le dataframe en numpy array.

In [57]:
Le = LabelEncoder()
for i in range(len(X[0])):
    X[:,i] = Le.fit_transform(X[:, i])
X

array([[3, 3, 1],
       [3, 3, 2],
       [3, 3, 0],
       ...,
       [1, 1, 1],
       [1, 1, 2],
       [1, 1, 0]], dtype=object)