In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

train_cvs_path = "./train.csv"
train_csv = pd.read_csv(train_cvs_path)

print(train_csv)
print("ok")

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
ok

In [2]:
train_csv.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [3]:
y = train_csv["Survived"]
X = train_csv.drop(columns=["Survived"])

In [4]:
X.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:

ohe = OneHotEncoder()
sex_data = X["Sex"]
sex_df = pd.DataFrame(ohe.fit_transform(X[["Sex"]]).toarray())
sex_df = sex_df.rename(columns={1:"Male", 0:"Female"})
print(X.tail)
print(sex_df.tail)

<bound method NDFrame.tail of      PassengerId  Pclass                                               Name  \
0              1       3                            Braund, Mr. Owen Harris
1              2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3       3                             Heikkinen, Miss. Laina
3              4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5       3                           Allen, Mr. William Henry
..           ...     ...                                                ...
886          887       2                              Montvila, Rev. Juozas
887          888       1                       Graham, Miss. Margaret Edith
888          889       3           Johnston, Miss. Catherine Helen "Carrie"
889          890       1                              Behr, Mr. Karl Howell
890          891       3                                Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0      male  22.0      1      0         A/5 21171   7.2500   NaN        S
1    female  38.0      1      0          PC 17599  71.2833   C85        C
2    female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3    female  35.0      1      0            113803  53.1000  C123        S
4      male  35.0      0      0            373450   8.0500   NaN        S
..      ...   ...    ...    ...               ...      ...   ...      ...
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]>
<bound method NDFrame.tail of      Female  Male
0       0.0   1.0
1       1.0   0.0
2       1.0   0.0
3       1.0   0.0
4       0.0   1.0
..      ...   ...
886     0.0   1.0
887     1.0   0.0
888     1.0   0.0
889     0.0   1.0
890     0.0   1.0

[891 rows x 2 columns]>

In [9]:
X_var = X.join(sex_df)
X_var = X_var.drop(columns={"Sex","Cabin", "Embarked", "Ticket", "Name", "Age", "PassengerId", "Fare" })
X_var = X_var.drop([61,829])
X_var.shape

(889, 5)

In [10]:
y = y.drop([61,829])
y.shape

(889,)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X_var, y, test_size=0.2)
X_train.shape

(711, 5)

In [12]:
lr_model = LogisticRegression()
lr_model.fit(X_train, y_train)

LogisticRegression()

In [13]:
y_pred = lr_model.predict(X_test)

print("Prediction on training set:", y_pred)

Prediction on training set: [1 1 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 1 1 0 0 1 0 0 1 0 1 1 1 1 1 0
 1 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 0 1 1 1 1
 0 0 1 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0
 0 1 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1 0 0 1 0 1 0 1 1 0 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0]

In [14]:
print(X_test)

     Pclass  SibSp  Parch  Female  Male
874       2      1      0     1.0   0.0
394       3      0      2     1.0   0.0
781       1      1      0     1.0   0.0
206       3      1      0     0.0   1.0
694       1      0      0     0.0   1.0
..      ...    ...    ...     ...   ...
722       2      0      0     0.0   1.0
840       3      0      0     0.0   1.0
778       3      0      0     0.0   1.0
379       3      0      0     0.0   1.0
791       2      0      0     0.0   1.0

[178 rows x 5 columns]

In [15]:
print(y_test)

874    1
394    1
781    1
206    0
694    0
      ..
722    0
840    0
778    0
379    0
791    0
Name: Survived, Length: 178, dtype: int64

In [16]:
print("Accuracy on training set:", lr_model.score(X_test, y_test))

Accuracy on training set: 0.848314606741573

In [20]:
test_csv = pd.read_csv("./test.csv")


def clean_data(df):
  ohe = OneHotEncoder()
  sex_data = df["Sex"]
  sex_df = pd.DataFrame(ohe.fit_transform(df[["Sex"]]).toarray())
  sex_df = sex_df.rename(columns={1:"Male", 0:"Female"})
  # embarked_data = df["Embarked"]
  # embarked_enc = pd.DataFrame(ohe.fit_transform(df[["Embarked"]]).toarray())
  # embarked_enc = embarked_enc.rename(columns={2:"S",0:"C", 1:"Q" })
  # sex_df = sex_df.join(embarked_enc)
  df_var = df.join(sex_df)
  df_var = df_var.drop(columns={"Sex","Cabin", "Embarked", "Ticket", "Name", "Age", "PassengerId", "Fare" })
  return df_var

test = clean_data(test_csv)

In [21]:
final_pred = pd.DataFrame(lr_model.predict(test))

In [23]:
test_csv = test_csv.join(final_pred)

In [26]:
test_csv.columns
test_csv_final = test_csv.drop(columns={"Pclass","Name",'Sex',
               'Age',       'SibSp',       'Parch',      'Ticket',
              'Fare',       'Cabin',    'Embarked'})

In [28]:
test_csv_final =  test_csv_final.rename(columns={0:"Survived"})
test_csv_final = test_csv_final.set_index('PassengerId')

In [29]:
test_csv_final

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1
...               ...
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [32]:
test_csv_final.to_csv("./test_final.csv")

In [ ]:
final_csv = pd.DataFrame(test_csv["PassengerId"], test_csv[0] )

In [ ]:
final_csv.head